    @import "_variables-funct";
    /* Site styles */

    html {
        scroll-behavior: smooth;
    }

    body {
        background: color('white');
        width: 100%;
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        line-height: 2em;
    }

    body,
    textarea,
    input,
    button {
        font-family: 'Heebo', Arial, sans-serif;
    }

    section>*,
    .menu-container {
        margin: 0 auto;
        @media screen and (max-width: 575px) {
            max-width: 100%;
        }
        @media screen and (min-width: 576px) {
            max-width: 540px;
        }
        @media screen and (min-width: 768px) {
            max-width: 720px;
        }
        @media screen and (min-width: 992px) {
            max-width: 960px;
        }
        @media screen and (min-width: 1200px) {
            max-width: 1170px;
        }
    }

    section {
        padding: 4rem 0;
    }

    @for $index from 1 through 6 {
        h#{$index} {
            font-weight: 500;
            margin: 0;
        }
    }

    h1 {
        font-size: 4rem;
        @media screen and (max-width: 575px) {
            font-size: 3rem;
        }
    }

    h2 {
        font-size: 3rem;
        @media screen and (max-width: 575px) {
            font-size: 2rem;
        }
    }

    h3 {
        font-size: 2rem;
        @media screen and (max-width: 575px) {
            font-size: 1.5rem;
        }
    }

    h4 {
        font-size: 1.5rem;
        @media screen and (max-width: 575px) {
            font-size: 1rem;
        }
    }

    .text-center {
        text-align: center;
    }

    a {
        color: color('purple');
    }

    hr {
        color: color('light-grey');
        margin: 1.75rem 0;
    }

    @media screen and (max-width: 575px) {
        p {
            padding: 0 20px;
            text-align: center;
        }
    }
    /* button styling */

    .btn {
        background-color: color('gold');
        color: color('white');
        text-transform: uppercase;
        font-size: 1.1rem;
        padding: 12px 26px;
        text-decoration: none;
        box-shadow: none;
        border: none;
        border-radius: 999rem;
        transition: background-color 250ms ease, color 250ms ease;
        &:hover {
            background-color: color('light-gold');
            color: color('black');
        }
        &--arrow-down {
            position: absolute;
            bottom: 0;
            left: 49%;
            z-index: 2;
            @media screen and (min-width: 768px) {
                animation: pulse 2s infinite ease-in-out;
                @media screen and (prefers-reduced-motion: reduce) {
                    animation: none;
                }
            }
            @media screen and (max-width: 767px) {
                transform: translateX(-50%);
            }
            &::before {
                content: url("/assets/arrow-down.png");
            }
        }
        &--back-top {
            line-height: 0;
            padding: 15px;
            margin-bottom: 2rem;
            border-radius: 6px;
        }
    }

    button {
        cursor: pointer;
    }
    /* flexbox styling */

    .flex-row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .flex-col {
        flex: 1 1 auto;
        &--half {
            flex-basis: 50%;
        }
        &--45 {
            flex-basis: 45%;
        }
        &--55 {
            flex-basis: 55%;
        }
        @media screen and (max-width: 768px) {
            flex-basis: 100%;
        }
    }

    .flex-end {
        display: flex;
        justify-content: flex-end;
        @media screen and (max-width: 575px) {
            justify-content: center;
        }
    }

    .section-title {
        text-decoration: underline;
        text-transform: uppercase;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 2rem;
        color: #444649;
    }

    @keyframes waves {
        0% {
            transform: scale(1, 1);
        }
        50% {
            transform: scale(4, 2);
        }
        100% {
            transform: scale(1, 1);
        }
    }

    .hero {
        background-color: color('dark-purple');
        @include background;
        min-height: calc(100dvh - 60px);
        height: 100%;
        margin-top: 60px;
        color: color('white');
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        padding: 0;
        line-height: 3em;
        overflow: hidden;
        @media screen and (max-width: 991px) {
            padding-bottom: 120px;
            padding-top: 60px;
        }
        &.stop-animation #svgWave .wave {
            animation: none;
        }
        #svgWave {
            position: absolute;
            bottom: 0;
            max-width: 1920px;
            z-index: 1;
            .wave {
                animation: waves 20s ease-in-out alternate infinite;
                @media screen and (prefers-reduced-motion: reduce) {
                    animation: none;
                }
            }
            .wave--1:hover,
            .wave--2:hover,
            .wave--3:hover,
            .wave--4:hover {
                opacity: 45%;
            }
        }
        &__content {
            display: grid;
            @media screen and (max-width: 992px) {
                grid-template-columns: 1fr;
                row-gap: 2rem;
                
            }
            grid-template-columns: repeat(2, minmax(0, 1fr));
            @media screen and (min-width: 991px) {
                column-gap: 2rem;
            }
        }
        &__image-col-wrapper {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 574px) {
                order: 2;
            }
        }
        &__image-col {
            position: relative;
            & > img {
                max-width: 100%;
                border-radius: 999px;
                box-shadow: 6px 6px 1px 0px color('purple');
                margin: 0 auto;
                display: block;
            }
            @media screen and (max-width: 574px) {
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                & > img {
                    grid-column: 1 / 3;
                    max-width: calc(100% - 40px);
                }
            }
        }
        &__content-col {
            p {
                line-height: 1.75rem;
            }
            @media screen and (max-width: 991px) {
                padding: 0 20px;
                text-align: center;
                p {
                    padding: 0;
                }
            }
        }
        &__fact-pill {
            border-radius: 10px;
            background: linear-gradient(340deg, color('gold') 0%, color('light-gold') 100%);
            color: color('dark-purple');
            padding: .75rem;
            max-width: 140px;
            font-weight: 600;
            @media screen and (min-width: 575px) {
                position: absolute;
                top: 0;
                left: 0;
                &:nth-of-type(1) {
                    transform: translate(-25%, 515%);
                    p {
                        display: flex;
                        align-items: center;
                        column-gap: .5rem;
                    }
                }
                &:nth-of-type(2) {
                    transform: translate(165%, 150%);
                    text-align: center;
                }
                &:nth-of-type(3) {
                    transform: translate(-50%, 0);
                }
            }
            @media screen and (max-width: 574px) {
                margin: 1rem;
                height: fit-content;
                &:nth-of-type(3) {
                    grid-column: 1 / 3;
                    max-width: 100%;
                }
            }
            p {
                margin: 0;
                line-height: 1.25;
            }
            .large-font {
                font-size: 3rem;
            }
            & > img {
                max-width: 75px;
                display: block;
                margin: 0 auto 10px;
            }
        }
        .hero-content {
            flex: 1 1 100%;
            padding: 0 20px;
            z-index: 2;
            pointer-events: none;
        }
        h1 {
            font-size: 6rem;
            line-height: 1;
            @media screen and (max-width: 575px) {
                font-size: 3rem;
            }
            span {
                color: color('gold');
            }
        }
        @media screen and (max-width: 575px) {
            h2 {
                margin-top: 1rem;
            }
        }
        .flex-row {
            align-items: center;
            @media screen and (max-width: 991px) {
                justify-content: center;
            }
        }
        .social-icon {
            padding: 15px 0 15px 20px;
            line-height: 0;
            a {
                display: block;
            }
        }
        .btn {
            line-height: 2em;
        }
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }

    nav.main-menu {
        height: 60px;
        background-color: color('purple');
        @include background;
        display: flex;
        align-items: center;
        z-index: 50;
        width: 100%;
        position: fixed;
        top: 0;
        @media screen and (max-width: 750px) {
            align-items: inherit;
        }
        .mobile-toggle {
            display: none;
            @media screen and (max-width: 750px) {
                display: flex;
                align-items: center;
                flex: 1 1 auto;
                justify-content: flex-end;
                padding-right: 20px;
                cursor: pointer;
                z-index: 60;
                max-width: 60px;
                img {
                    max-width: 40px;
                }
            }
        }
        .menu-container {
            width: 100%;
            display: flex;
            align-items: center;  
            justify-content: space-between;
            @media screen and (max-width: 750px) {
                justify-content: end;
            }
        }
        ul.main-menu__items {
            padding-left: 0;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            z-index: 5;
            @media screen and (max-width: 750px) {
                opacity: 0;
                flex-direction: column;
                padding-top: 44px;
                align-self: baseline;
                transition: all 300ms ease-in-out;
                position: absolute;
                right: 0;
                width: 100%;
                &.open {
                    opacity: 1;
                }
            }
            li {
                padding: 0 20px;
                @media screen and (max-width: 750px) {
                    padding: .25rem 60px;
                    background-color: color("purple");
                }
                @media screen and (min-width: 750px) {
                    &:first-of-type {
                        padding-left: 0px;
                    }
                }
                a {
                    text-decoration: none;
                    font-weight: 300;
                    font-size: 1.5rem;
                    color: color('gold');
                }
            }
        }
        .animation-input-wrap {
            position: relative;
            padding: 8px;
            z-index: 99;
            display: flex;
            align-items: center;
        }
        .toggle-label {
            color: color('gold');
            margin-right: 1rem;
        }
        #animation-toggle {
            position: absolute !important;
            width: 1px;
            height: 1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            bottom: 0;
            & + label {
                color: color('gold');
                background-color: #fff;
                transition: background-color 500ms ease;
                cursor: pointer;
                font-size: 0;
                border-radius: 22px;
                display: inline-block;
                position: relative;
                height: 44px;
                width: 90px;
                &::after {
                    transition: right 500ms ease, 
                    background-color 500ms ease, 
                    box-shadow 500ms ease;
                    content: "";
                    display: block;
                    height: 40px;
                    width: 40px;
                    position: absolute;
                    top: 2px;
                    right: 48px;
                    border-radius: 50%;
                    background-color: color('gold');
                    box-shadow: 2px 0px 0px rgba(0, 0, 0, 15%);
                }
            }
            &:checked + label {
                background: color('gold');
                &::after {
                    right: 2px;
                    background-color: #fff;
                    box-shadow: -2px 0px 0px rgba(0, 0, 0, 0.1);
                }
            }
        }
    }

    .about-section {
        @media screen and (max-width: 768px) {
            & > .flex-row {
                flex-direction: column-reverse;
            }
            h4 {
                padding-top: 2rem;
            }
        }
        .flex-col--half {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        p:not(.text-center) {
            line-height: 3em;
        }
        .profile-picture {
            height: 250px;
            width: 250px;
            background-color: color('light-grey');
            border-radius: 50%;
            border: none;
        }
    }

    .project-section {
        background-color: #EEEEEE;
        .project-gallery {
            &__images {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }
            &__item {
                flex: 1 1 21%;
                cursor: pointer;
                z-index: 1;
                padding: 0 1rem;
                @media screen and (min-width: 768px) and (max-width: 992px) {
                    padding: 0 .5rem;
                }
                @media screen and (min-width: 768px) {
                    img {
                        transition: all 500ms ease-in-out;
                        opacity: 0.5;
                    }
                    &.selected img {
                        transform: scale(1.1);
                        z-index: 2;
                        opacity: 1;
                    }
                }
                @media screen and (max-width: 767px) {
                    margin: 0 auto;
                    padding-bottom: 1rem;
                    flex: 1 1 100%;
                    cursor: default;
                }
                .project-gallery__item-info {
                    display: none;
                    @media screen and (max-width: 767px) {
                        display: block;
                        padding: 2rem 20px;
                        text-align: center;
                        h3 {
                            font-weight: 600;
                            color: color('dark-purple');
                        }
                        h4 {
                            font-weight: 400;
                            color: color('grey');
                        }
                    }
                }
            }
            &__slide {
                display: none;
                &--main {
                    pointer-events: none;
                    max-width: 100%;
                    margin: 0 auto;
                    display: block;
                }
            }
        }
        .project-featured {
            padding: 5rem 0 3rem;
            @media screen and (max-width: 767px) {
                display: none;
            }
            &__wrap {
                display: grid;
                grid-template-columns: auto 40%;
                column-gap: 2rem;
                margin: 0 auto;
                @media screen and (max-width: 992px) {
                    grid-template-columns: auto;
                }
            }
            .project-gallery__slide {
                display: block;
                text-align: center;
                width: 100%;
                margin-bottom: 2rem;
                &.active {
                    opacity: 1;
                    visibility: visible;
                }
            }
            @media screen and (max-width: 992px) {
                &__images {
                    order: 2;
                }
            }
            &__info {
                .project-gallery__item-info {
                    position: sticky;
                    top: 100px;
                }
                @media screen and (max-width: 992px) {
                    text-align: center;
                    padding: 2rem 0 4rem;
                    order: 1;
                }
                h3 {
                    font-weight: 600;
                    color: color('dark-purple');
                }
                h4 {
                    font-weight: 400;
                    color: color('grey');
                }
                ul {
                    padding-bottom: 1rem;
                    text-align: left;
                }
            }
        }
    }

    .contact-section {
        background-color: color('dark-purple');
        color: color('white');
        display: flex;
        flex-direction: column;
        .gold,
        a {
            color: color('gold');
        }
        a {
            text-decoration: none;
            font-weight: 600;
        }
        .section-title {
            color: color('white');
        }
        #contact-form {
            display: flex;
            flex-direction: column;
            padding: 3rem 20px 2rem;
            input,
            textarea {
                background-color: color('purple');
                box-shadow: none;
                border: none;
                color: color('white');
                font-size: 14px;
                margin: 8px auto;
                padding: 0.8rem 1rem;
                width: 495px;
                @media screen and (max-width: 575px) {
                    width: auto;
                    margin: 8px;
                }
                &::-webkit-input-placeholder {
                    color: color('white');
                }
                &:-moz-placeholder {
                    color: color('white');
                }
                &::-moz-placeholder {
                    color: color('white');
                    opacity: 1;
                }
                &:-ms-input-placeholder {
                    color: color('white');
                }
                &::placeholder {
                    color: color('white');
                }
            }
        }
        .font-light {
            font-weight: 300;
        }
    }
