# Ignore these files #
######################

.DS_Store
assets/.DS_Store
css/.DS_Store
css/sass/.DS_Store
css/dist/.DS_Store
/css/sass/.vscode/
css/style.css.map
css/dist/style.min.css.map
js/.DS_Store
